/* Photography-specific styles */

/* Typography for photo content */
.photo-detail h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

.gallery-title {
	font-size: 10rem;
	/* color: var(--); */
	font-weight: 700;
	/* margin-bottom: 1.5rem; */
	color: var(--black);
}

.photo-detail p {
	font-size: 1.1rem;
	line-height: 1.6;
	color: var(--subtitle);
	margin-bottom: 1.5rem;
}

.photo-description-column {
	max-width: 500px;
	margin: 2rem 0;
	padding-left: 10vw;
	color: var(--black);
}

.photo-description-column-dark {
	max-width: 33%;
	font-size: 1.5rem;
	color: var(--black);
}

.photography-page {
	background: #ffffff !important;
}